html, body{
    margin: 0;
}
.mainbody{
    background: url("https://free4kwallpapers.com/uploads/originals/2020/01/08/d-abstract-k--wallpaper.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.trackbtn {
  justify-content: center;
  border: none;
  outline: none;
  border-radius: 15px;
  height: 8vh;
  width: 90%;
  margin-left: 0;
  margin-bottom: 10;
  background-color: darkblue;
  color: white;
  font-size: 5vmin;
  font-weight: 900;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.trackbtn:hover{
  background-color: rgb(51, 197, 255);
  color: black;
}        