<!-- <p>homepage2 works!</p> -->
<div style="background: url('https://free4kwallpapers.com/uploads/originals/2020/01/08/d-abstract-k--wallpaper.jpg');
background-repeat: no-repeat;
background-position: center;
background-size: cover; height:80vh">
    <div class="row justify-content-center align-items-center">
        <div class="col" style="text-align: center; color: white; font-size: 5vw;">
            Are you waiting for a courier to arrive?
        </div>
        <div class="col">
            <div class="col d-flex justify-content-center" style="margin-top: 5vh;">
                <img src="https://raw.githubusercontent.com/karanjadhav/karanjadhav.github.io/master/homeage.gif" alt=""
                    style="max-width: 100vw; height: 50vh;">
            </div>
        </div>
        <div class="col" style="text-align: center; color: white; font-size: 5vw;">
            We will help you tracking your courier!
        </div>
    </div>
</div>