<!-- <p>track works!</p> -->
<div class="container-fluid justify-content-center align-items-center"
    style="height:80vh; background:rgba(250, 250, 243, 0.918)">
    <h1><u>Courier Details :</u></h1>

    <div class="row justify-content-center align-items-center" style="height:20vh;">
        <div class="col-12 justify-content-center align-items-center mb-5">
            <div class="row" style="height:10vh;">
                <div class="col-1 border d-flex align-items-center justify-content-center">ID</div>
                <div class="col-2 border d-flex align-items-center justify-content-center">Product Name</div>
                <div class="col-2 border d-flex align-items-center justify-content-center">Ddate</div>
                <div class="col-2 border d-flex align-items-center justify-content-center ">Status</div>
            </div>
            <div class="row" *ngFor="let item of data1" style="height:8vh;">

                <div class="col-1 border d-flex align-items-center justify-content-center">{{item.pid}}</div>
                <div class="col-2 border d-flex align-items-center justify-content-center">{{item.pname}}</div>
                <div class="col-2 border d-flex align-items-center justify-content-center">{{item.Ddate}}</div>
                <div class="col-2 border d-flex align-items-center justify-content-center">{{item.Pstatus}}</div>

            </div>
        </div>
    </div>
</div>