<!-- <p>contactpage works!</p> -->

<div class="container-fluid m-0 p-0" style="background:rgba(238, 211, 90, 0.5)">

    <div class="container"
        style="background-image: linear-gradient(to bottom right, rgb(23, 189, 255), rgb(201, 31, 201));">
        <!-- <div style="text-align:center">
            <h2>Contact Us</h2>
            <p>Leave us a message:</p>
        </div> -->
        <div class="row">
            <div class="column">
                <img src="https://raw.githubusercontent.com/karanjadhav/CDAC_AWP/master/contact.jpg" style="width:100%">
            </div>
            <div class="column">
                <div style="text-align:center">
                    <h2>Contact Us</h2>
                </div>
                <div>
                    <label for="fname">First Name</label>
                    <input class="inpot" type="text" id="fname" name="firstname" placeholder="Your name..">
                    <label for="lname">Last Name</label>
                    <input class="inpot" type="text" id="lname" name="lastname" placeholder="Your last name..">
                    <label for="country">Country</label>
                    <select id="country" name="country">
                        <option value="australia">India</option>
                        <option value="canada">Binod</option>
                    </select>
                    <label for="subject">Subject</label>
                    <textarea class="inpot" id="subject" name="subject" placeholder="Write something.."
                        style="height:170px"></textarea>
                    <input type="submit" value="Submit">
                </div>
            </div>
        </div>
    </div>
</div>


<!--  contact here -->